.my_column{
    width: 18rem;
    padding: 10px;
    margin: 25px auto;
    max-height: 25rem;
    min-height: 25rem;
    
}

.image{
    height: 18rem;
}

.my_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.prod_img{
    height: 25rem;
}

